.allpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complaint-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 247, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    width: 80%;
    height: 50rem;
}



.all-complaints {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 2%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td,
th {
    border: 1px solid #dddddd;
}

td {
    padding-left: 2%;
}